

.Input {
    border-style: solid;
    border-color: rgb(201, 171, 39);
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: rgb(245, 206, 79);
}


h5 {
    margin-left: 20px;
    color:  rgb(245, 206, 79);
}

.btn  {
    background-color:  rgb(185, 152, 6);
}

.jumbo {
    margin-left: 20px;
    margin-right: 20px;
    color:  rgb(245, 206, 79);
}



.schedule {
    margin-left:20px;
    margin-right: 20px;
    border-style: solid;
    background-color:  rgb(245, 206, 79);


}
body{
    background: url(/Users/annemariehin/bootcamp/Train-Schedule-APP/Images/infrastructure-trains-chicago-jamey-stillings.jpg);  
}
